/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #EAE2B7;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h1, h2, h3 {
    font-family: "Courgette", cursive;
}

/* ------------------------------------- Navigation Bar ------------------------------------------- */
.bg-light {
    background-color: #EAE2B7 !important;
    -webkit-box-shadow: 0 0.5em 1.1em rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.5em 1.1em rgba(0, 0, 0, 0.25);
}

.logo {
    width: 50px;
    height: auto;
    padding-left: 12px;
}

.navbar-brand {
    font-family: "Courgette", cursive;
    color: #000;
    font-size: 0;
}

.navbar-brand:hover {
    color: #000;
}

.navbar-brand span {
    vertical-align: middle;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    margin-left: 12px;
}

.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
    letter-spacing: 1px;
}

.navbar .navbar-toggler {
    border: none;
}

/* ----------------------- Hover.css ----------------------- */
.hvr-underline-from-center:before {
    background-color: #003049;
    height: 2px;
}
/* ---------------------------------- End Navigation Bar ------------------------------------------ */

/* ------------------------------------------ Footer ---------------------------------------------- */
footer {
    padding: 15px 0 0;
    color: #fff;
    background-color: #003049;
    font-size: 14px;
    line-height: 2;
}

.footer-info-col {
    padding: 0 25px;
}

.footer-heading {
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.footer-links {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-links a:hover {
    color: #EAE2B7;
}

.contact-links, .support-links {
    margin-bottom: 20px;
    padding: 0;
}

.contact-links-item, .support-links-item {
    display: block;
    margin-bottom: 10px;
}

.contact-links i {
    margin-right: 5px;
}

/* ------ Code for footer and contact page section social links ------ */
.social-icon-links {
    margin-bottom: 2rem;
}

/* Credit code - taken and modified from Matt Rudge bootstrap mini project "Resume Project" Code Institute ----------- */
.social-icon-links li a i {
    color: #000;
    background-color: #EAE2B7;
    width: 42px;
    height: 42px;
    padding-top: 12px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

.social-icon-links li a i:hover {
    background-color: #FCBF49;
    color: #fff;
}
/* End Credit Code */
/* ------ End of Code for footer and contact page section social links ------ */

.footer-copyright {
    border-top: 1px solid #FCBF49;
    font-size: 12px;
}

.footer-copyright-col {
    padding: 16px 25px;
}
/* ---------------------------------------- End Footer -------------------------------------------- */

/* ----------------------------------------- Home Page -------------------------------------------- */
/* ----------- Main container ----------- */
.main-container {
    margin-top: 55px;
}

/* ----------- Carousel hero-image-section ----------- */
#hero-image-section .carousel-item {	
    height: 90vh;
    overflow: hidden;
}

#hero-image-section .carousel-item-hero-container {
    height: 90vh;
    width: 100%;
}

#hero-image-section .carousel-item-hero-image-1 {
    background: url('../images/hero-image-1.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#hero-image-section .carousel-item-hero-image-2 {
    background: url('../images/hero-image-2.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#hero-image-section .carousel-item-hero-image-3 {
    background: url('../images/hero-image-3.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/* Credit code - taken and modified for image animation from Brian O'Grady Love Running Code Institute */
#hero-image-section .carousel-item.active .carousel-item-hero-image-1, 
#hero-image-section .carousel-item.active .carousel-item-hero-image-2, 
#hero-image-section .carousel-item.active .carousel-item-hero-image-3 {
    -webkit-animation: hero-zoom;
            animation: hero-zoom;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes hero-zoom {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

@keyframes hero-zoom {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
/* End Credit code */

/* Credit code - from Matt Rudge "Whiskey Drop Project" Code Institute */
#hero-image-section .carousel-item-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* End Credit code  */

.jumbotron {
    padding: 20px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: transparent;
    color: #fff;
    font-family: "Courgette", cursive;
}

.jumbotron h1 {
    font-size: 2rem;
}

.jumbotron h2 {
    font-size: 1.5rem;
}

.btn--cta {
    margin-top: 5px;
    border-radius: 25px;
    padding: 10px 15px;
}

.btn--lemon-meringue {
    background-color:  #EAE2B7;
    color: #000;
}

.btn--lemon-meringue:hover,
.btn--lemon-meringue:active,
.btn--lemon-meringue:focus,
.btn--lemon-meringue:active:focus {
    background-color: #003049;
    border-color: #EAE2B7;
    color: #fff;
}

/* ----------- Welcome section - Home Page ----------- */
.welcome-title {
    margin: 10px 0;
    padding: 30px 10px;
}

.welcome-title h2 {
    font-size: 2rem;
}

.welcome-title h3 {
    font-size: 1.75rem;
}

.col-welcome {
    padding: 25px;
}

.welcome-image {
    border-radius: 0.8rem;
}

.description-text {
    font-size: 120%;
}

.btn-arrange-visit {
    background-color: #003049;
    color: #fff;
}

.btn-arrange-visit:hover,
.btn-arrange-visit:active,
.btn-arrange-visit:focus,
.btn-arrange-visit:active:focus {
    background-color:  #EAE2B7;
    border-color: #003049;
    color: #000;
}

/* --------------- Why Choose us section - Home Page-------------- */
#why-us {
    background-color: #fff;
}

.why-us-title-container {
    margin: 10px 0;
    padding: 30px 10px;
}

.why-us-title-container h2 {
    font-size: 2rem
} 

.col-card {
    padding: 25px;
}

#why-us .card {
    border-radius: 0.8rem;
    border: none;
    -webkit-box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
}

#why-us .card-top {
    border: none;
    padding: 16px 16px 5px;
}

#why-us .card-title {
    font-family: "Courgette", cursive;
    font-size: 1.25rem;
    margin: 0;
    background-color: #fff;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

#why-us .card-body {
    padding: 0;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    position: relative;
    overflow: hidden;
    min-height: 350px;
}

#why-us .card-body-wave-image-container {
    width: 100%;
    height: 60px;
    background: url('../images/wave.png') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#why-us .card-body-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    visibility: hidden;
}

.list-group {
    margin-top: 60px;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: transparent;
    font-weight: 600;
}

#why-us .card-body-content .list-group {
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
}

#why-us .card-link-container {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    padding: 30px;
}

#why-us .card-body-content .card-link-container {
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
}

#why-us .card:hover .card-body-content {
    visibility: visible;
}

#why-us .card:hover .list-group {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.65s ease-in-out;
       -moz-transition: all 0.65s ease-in-out;
        -ms-transition: all 0.65s ease-in-out;
         -o-transition: all 0.65s ease-in-out;
            transition: all 0.65s ease-in-out;
}

#why-us .card:hover .card-link-container {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.65s ease-in-out;
       -moz-transition: all 0.65s ease-in-out;
        -ms-transition: all 0.65s ease-in-out;
         -o-transition: all 0.65s ease-in-out;
            transition: all 0.65s ease-in-out;
}

.btn--card-cta {
    border-radius: 20px;
    padding: 5px 15px;
}

.btn--prussian-blue {
    background-color: #003049;
    color: #fff;
}

.btn--prussian-blue:hover,
.btn--prussian-blue:active,
.btn--prussian-blue:focus,
.btn--prussian-blue:active:focus {
    background-color: #003049;
    color: #FCBF49;
}

/* ----------- Each card background from why Choose us section - Home Page ----------- */
.bg-card-child-care {
    background: url('../images/card-child-care.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.bg-card-early-learning {
    background: url('../images/card-early-learning.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.bg-card-pre-school {
    background: url('../images/card-pre-school.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.bg-card-our-team {
    background: url('../images/card-our-team.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.bg-card-our-services {
    background: url('../images/card-our-services.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.bg-card-summer-camp {
    background: url('../images/card-summer-camp.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/* ----------- Testimonial - What parrents say section - Home Page ----------- */
#testimonial {
    background: -webkit-gradient(linear, left top, right top, from(rgba(214, 40, 40, 1)), color-stop(rgba(247, 127, 0, 1)), color-stop(rgba(252, 191, 73, 1)), to(rgba(234, 226, 183, 1)));
    background: -o-linear-gradient(left, rgba(214, 40, 40, 1), rgba(247, 127, 0, 1), rgba(252, 191, 73, 1), rgba(234, 226, 183, 1));
    background: linear-gradient(to right, rgba(214, 40, 40, 1), rgba(247, 127, 0, 1), rgba(252, 191, 73, 1), rgba(234, 226, 183, 1));
}

.testimonial-title-container {
    margin: 10px 0;
    padding: 30px 10px;
}

#testimonial .card {
    padding: 0.8rem;
    background: #003049;
    color: #fff;

    border-radius: 0.8rem;
    border: none;
    -webkit-box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.68);
}

#testimonial .card-header {
    background: transparent;
    border-bottom: none;
}

#testimonial .card-quotation-mark {
    font-size: 1.75rem;
}

#testimonial .img-card
{
    width: 100px;
    border-radius: 50%;
}

#testimonial .carousel-inner [class^="col-"] { 
    padding: 25px;
}

.testimonial-container .carousel-indicators {
    bottom: -50px;
}

#testimonial .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
    opacity: 1;
}

#testimonial .carousel-indicators .active {
    background: #000;
}

#testimonial .carousel-control-next, .carousel-control-prev {
    width: 25px;
}

#testimonial .carousel-control-next {
    right: 10px;
}

#testimonial .carousel-control-prev {
    left: 10px;
}

#testimonial .card-footer {
    background-color: rgba(0,0,0,.0);
    border-top: none;
}

.card-parrents-name {
    margin-bottom: 0.5rem;
}

.card-child-name {
    margin-bottom: 0;
    font-size: 0.8rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

/* ----------- Modal - Enroll your child ----------- */
.modal-title {
    font-family: "Courgette", cursive;
    color: #003049;
}

.modal p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-check-inline {
    margin-right: 1rem;
}

.modal .form-check-inline:last-child {
    margin: 0;
}

.btn--cta-submit {
    border-radius: 20px;
    padding: 5px 15px;
    margin: 25px 0;
}

.modal label {
    font-size: 14px;
} 

.modal .form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #003049;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 48, 73, 0.25);
            box-shadow: 0 0 0 3px rgba(0, 48, 73, 0.25);
}
/* ----------------------------------------- End Home Page -------------------------------------------- */

/* -------------------------------------------- About Page -------------------------------------------- */
.about-hero-image-container {
    height: 90vh;
    background: url('../images/about-hero-image.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Credit code - from Matt Rudge "Whiskey Drop Project" Code Institute */
.opaque-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
/* End credit code */

.custom-container {
    background: #fff;
    border-radius: 0.8rem;
}

.col-extra-padding {
    padding: 25px;
}

#our-educational-videos .container {
    padding: 25px;
    border-radius: 0.8rem;
}

#our-educational-videos h3 {
    margin-bottom: 1.5rem;
    text-align: center;
}

#our-mission p:last-of-type,
#our-values p:last-of-type,
#our-services p:last-of-type,
#ecce-scheme p:last-of-type {
    margin-bottom: 0;
}

#our-values ul {
    list-style-type: none;
} 

#our-values ul > li {
    margin-bottom: 1rem;
}

#our-values ul {
    margin-bottom: 0;
}

#our-values ul > li:last-child {
    margin-bottom: 0;
} 

.our-values-key-elements::before {
    content: "\f068";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px
}

#our-values ul ol {
    margin-left: 50px;
}

#our-values .five-principles {
    margin-top: 0.2rem;
}

#our-services p:first-of-type {
    margin-bottom: 0; 
}

#our-services ol {
    margin-left: 50px;
}

#our-services ol > li {
    margin-top: 0.2rem;
}

#ecce-scheme a {
    text-decoration: none;
    color: #003049;
    font-weight: 600;
}

.video-container {
    position: relative;
    overflow: hidden;
}

iframe {
    width: 100%;
    border: none;
    margin-bottom: 1.5rem;
}

/* About containers images */
.our-mission-image {
    min-height: 230px;
    background: url('../images/our-mission.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border-radius: 0.8rem;
}

.our-values-image {
    min-height: 408px;
    background: url('../images/our-values.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border-radius: 0.8rem;
}

.our-services-image {
    min-height: 230px;
    background: url('../images/our-services.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border-radius: 0.8rem;
}

.ecce-scheme-image {
    min-height: 230px;
    background: url('../images/our-ecce-scheme.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border-radius: 0.8rem;
}
/* -------------------------------------------- End About Page ------------------------------------------ */

/* -------------------------------------------- Gallery Page -------------------------------------------- */
.gallery-hero-image-container {
    height: 90vh;
    background: url('../images/gallery-hero-image.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
    overflow: hidden;
}

.gallery-title {
    font-size: 1.5rem;
}

.gallery-flexbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    -ms-flex-pack: distribute; 
        justify-content: space-around;   
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
}

.gallery-img-wrapper {
    position: relative;
    width: 300px;
    height: 30vh;
    margin: 10px;
    overflow: hidden;
    border-radius: 0.8rem;
}

.gallery-img-box {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.gallery-img-box:hover {
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
}

/* ------------------ Galery photo -------------- */
.gallery-img-1 {
    background: url('../images/gallery-img-1.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-2 {
    background: url('../images/gallery-img-2.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-3 {
    background: url('../images/gallery-img-3.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-4 {
    background: url('../images/gallery-img-4.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-5 {
    background: url('../images/gallery-img-5.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-6 {
    background: url('../images/gallery-img-6.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-7 {
    background: url('../images/gallery-img-7.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-8 {
    background: url('../images/gallery-img-8.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-9 {
    background: url('../images/gallery-img-9.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-10 {
    background: url('../images/gallery-img-10.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-11 {
    background: url('../images/gallery-img-11.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.gallery-img-12 {
    background: url('../images/gallery-img-12.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
/* ---------------------------------------- End Gallery Page -------------------------------------------- */

/* -------------------------------------------- Contact Page -------------------------------------------- */
.contact-hero-image-container {
    height: 62vh;
    background: url('../images/contact-hero-image.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
    overflow: hidden;
}

.contact-flexbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
}

.contact-flexbox-item {
    width: 100%;  
}

.contact-flebox-item-flex-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
}

.contact-flebox-item-flex-row-info {
    width: 250px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.contact-flebox-item-flex-row-info-icon {
    margin: 1.5rem 0;
}

.contact-flebox-item-flex-row-info-content {
    margin-bottom: 1.5rem;
}

.contact-flebox-item-flex-row-info-content a {
    text-decoration: none;
    color: #003049;
}

.contact-flebox-item-flex-row-content-wrapper {
    width: 750px;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-top: 2.5rem;
    padding: 0 10px;
}

.contact-flebox-item-flex-row-content-wrapper:first-child {
    margin-top:0;
}

.contact-flebox-item-flex-row-content-social {
    width:100%;
    height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #003049;
    color: #fff;
    padding: 26px 10px;
}

.contact-flebox-item-flex-row-content-social h3 {
    margin: 1.5rem 0;
}

.contact-flexbox-content-social-title {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

.contact-flebox-item-flex-row-content-form h4 {
    margin: 1.5rem 0;
}

.contact-flexbox-item-location {
    width: 100%;
    height:400px;
    padding: 0 10px;
}

.bg--contact-flexbox-item-1 {
    background: #fff;
}

#contact-form .btn--cta-contact {
    border-radius: 20px;
    padding: 5px 15px;
    margin: 1.5rem 0 2rem 0;
}

.btn--contact-prussian-blue {
    background-color: #003049;
    color: #fff;
}

.btn--contact-prussian-blue:hover,
.btn--contact-prussian-blue:active,
.btn--contact-prussian-blue:focus,
.btn--contact-prussian-blue:active:focus {
    background-color:  #EAE2B7;
    border-color: #003049;
    color: #000;
}

#contact-form  .form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #003049;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 48, 73, 0.25);
            box-shadow: 0 0 0 3px rgba(0, 48, 73, 0.25);
}

#contact-form label {
    font-size: 14px;
}
/* ---------------------------------------- End Contact Page -------------------------------------------- */

/* --------------------------------------------- 404 Page ----------------------------------------------- */
.error-hero-image-container {
    height: 100vh;
    background: url('../images/error-hero-image.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
    overflow: hidden;
}

#error-hero-image-section h3 {
    font-size: 1.75rem;
}

#error-hero-image-section h3 {
    font-size: 1rem;
}

#error-hero-image-section .btn-lg {
    font-size: 1rem;
}
/* ------------------------------------------- End 404 Page --------------------------------------------- */

/* ------------------------------------------- Media Query ---------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .contact-flebox-item-flex-row-content-wrapper {
        width: 540px;
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) and  (max-width:1199px) {
    .contact-flebox-item-flex-row-content-wrapper {
        width: 450px;
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }

    .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }

    .gallery-container {
        max-width: 1140px;
    }

    .contact-flebox-item-flex-row-content-social h4 {
        margin-bottom: 2.5rem;
    }

    .contact-flexbox-item-location {
        padding: 0 18px;
    }
}

@media only screen and (min-width:768px) {
    .jumbotron h1 {
        font-size: 3rem;
    }

    .jumbotron h2 {
        font-size: 2.5rem;
    }

    .welcome-title h2 {
        font-size: 2.5rem;
    }

    .welcome-title h2 {
        font-size: 2rem;
    }

    .why-us-title-container h2 {
        font-size: 2.5rem
    } 
    
    #why-us .card-title {
        font-size: 1.5rem;
    }

    iframe {
        margin-bottom: 0;
    }

    .gallery-title {
        font-size: 2.5rem;
    }

        /* For 404 page */
    #error-hero-image-section h3 {
        font-size: 2rem;
    }
    
    #error-hero-image-section h3 {
        font-size: 1.5rem;
    }
    
    #error-hero-image-section .btn-lg {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .welcone-container {
        max-width: 720px;
    }

    .why-us-container {
        max-width: 720px;
    }

    .testimonial-container {
        max-width: 720px;
    }

    .gallery-container {
        max-width: 720px;
    }

    .footer-container {
        max-width: 720px;
    }
}

@media only screen and (min-width:576px){
    .navbar-brand {
        font-size: 1.25rem;
    }

    .footer-heading {
        text-align: left;
    }
}